.container {
  max-width: 1000px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: 0.75rem;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: 0.75rem;
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

/* font */
.header .h2, .header h2 {
  font-size: 24px;
  font-weight: 700;
}

/* Header */
.header {
  height: 105px;
  background-color: #16abf8;
  color: #fff;
  display: flex;
  align-items: center;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  margin: 43px 0 55px;
}

.todo-header .btn {
  min-width: 170px;
  width: 170px;
  height: 54px;
}

.todo-header .h1, .todo-header h1 {
  font-size: 36px;
  font-weight: 700;
}

/* Button */
.btn {
  border-radius: 45px;
  border: 0;
  padding: 13.5px 29px;
  font-size: 18px;
  font-weight: 600;
}

.btn.btn-primary {
  background-color: #16abf8;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn .icon-plus {
  margin-right: 5px;
}

.icon-edit-h, .icon-plus {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  vertical-align: middle;
}

.icon-plus {
  background-image: url(./assets/img/tabler_plus.svg);
}

/* Dashboard */
.dashboard-content .col-3 {
  padding: 0 20px 0 0;
}

/* Activity */
.activity-card {
  height: 234px;
  background-color: #fff;
  border-radius: 12px;
  padding: 22px 27px;
  margin-bottom: 26px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
};

.activity-card .activity-body {
  cursor: pointer;
  height: 158px;
}

.activity-card .card-footer {
  position: absolute;
  z-index: 2;
  bottom: 25px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border: 0;
  width: calc(100% - 54px);
  padding: 0;
}

.activity-card .activity-body .h4, .activity-card .activity-body h4 {
  font-size: 18px;
  font-weight: 700;
}

.activity-card .card-footer span {
  color: #888;
}